# Bỏ qua toàn bộ dữ liệu (tránh push nhầm file vài GB lên Git)
data/*
!data/.keep
*.parquet
*.csv
*.json
*.jsonl

# Bỏ qua các file log và thư mục tạm của Apache Spark
derby.log
metastore_db/
spark-warehouse/
logs/

# Bỏ qua môi trường ảo và cache của Python
__pycache__/
*.py[cod]
venv/
.env

# Bỏ qua cấu hình của IDE
.vscode/
.idea/
.ipynb_checkpoints/